*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/vendor
/exports/
*.sqlite
*.sqlite-*
*.db
/public/build
/public/hot
/storage/*.key
/storage/pail
/android/app/google-services.json
/android/local.properties
/android/keystore.properties
*.jks
*.keystore
/storage/app/releases/*.apk
Homestead.json
Homestead.yaml
Thumbs.db
